{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <h1>Admin</h1>
    <ul class="backend-nav">
        <li>
            <a href="{{ path('home') }}" class="btn btn-primary">Frontend</a>
        </li>
        <li>
            <a href="{{ path('backend_event_index') }}" class="btn btn-primary">Events</a>
        </li>
        <li>
            <a href="{{ path('backend_file_index') }}" class="btn btn-primary">Media</a>
        </li>
        <li>
            <a href="{{ path('backend_product_index') }}" class="btn btn-primary">Products</a>
        </li>
        <li>
            <a href="{{ path('backend_order_index') }}" class="btn btn-primary">Orders</a>
        </li>
    </ul>
{% endblock %}
