{% extends 'backend.html.twig' %}

{% block title %}New File{% endblock %}

{% block body %}
    <h1>Create new File</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_errors(form) }}
    </div>
    <div class="form-group">
        {{ form_row(form.description, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.file, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.type, {'attr': {'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}


    <a href="{{ path('backend_index') }}" class="btn btn-primary">back to list</a>
{% endblock %}
