{% extends 'frontend.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    {% include 'frontend/header_nav.html.twig' %}
    <h1>Cart</h1>
    <ul class="products-list">
        {% for item in products %}
            <hr>
            <li>
                {% for image in item.product.images %}
                    <a href="/media/{{ image.file }}" class="image-link">
                        <img src="/media/{{ image.file }}" alt="">
                    </a>
                {% endfor %}
                <div>
                    {{ item.product.title }}
                </div>
                <div>
                    {{ item.product.price }}
                </div>
                <div>
                    {{ item.product.description }}
                </div>
                <div>
                    Quantity: {{ item.quantity }}
                </div>
                <a class="btn btn-primary add-to-cart-btn"
                   href="{{ path('remove_from_cart', {'id': item.product.id}) }}">Удалить</a>
            </li>
            <hr>
        {% endfor %}
    </ul>
    <hr>
    <hr>
    <h3>Create order</h3>
    <div>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_errors(form) }}
        </div>
        <div class="form-group">
            {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.name, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.phone, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.skype, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.address, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.comment, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('libs/magnific-popup/magnific-popup.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('libs/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.image-link').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-img-mobile',
                image: {
                    verticalFit: true
                }
            });
        });
    </script>
{% endblock %}

