<div class="fl">
    <a href="/"><img class="logo shake-opacity" alt="" src="/images/gurgabs_logo.jpg"></a>
    <a class="btn btn-dark ml50" href="{{ path('home') }}">Home</a>
    <a class="btn btn-dark" href="{{ path('events') }}">Events</a>
    <a class="btn btn-dark" href="{{ path('video') }}">Video</a>
    <a class="btn btn-dark" href="{{ path('audio') }}">Audio</a>
    <a class="btn btn-dark" href="{{ path('photo') }}">Photo</a>
    <a class="btn btn-dark" href="{{ path('products') }}">Merch</a>
    {% if app.user %}
        <a class="btn btn-dark" href="{{ path('backend_index') }}">Admin</a>
        <a class="btn btn-dark" href="{{ path('app_logout') }}">Logout</a></span>
    {% else %}
        <a class="btn btn-dark" href="{{ path('app_login') }}">Login</a></span>
    {% endif %}
</div>
<div class="fr">
    <a href="{{ path('cart') }}">
        <div class="cart">
            <span class="quantity-wrap">
                <span class="quantity">{{ cart_quantity() ?  cart_quantity() : '' }}</span>
            </span>
        </div>
    </a>
</div>
<div class="clear"></div>
