{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <ul class="products-list">
        {% for product in products %}
            <hr>
            <li>
                {% for image in product.images %}
                    <a href="/media/{{ image.file }}" class="image-link">
                        <img src="/media/{{ image.file }}" alt="">
                    </a>
                {% endfor %}
                <div>
                    {{ product.title }}
                </div>
                <div>
                    {{ product.price }}
                </div>
                <div>
                    {{ product.description }}
                </div>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('libs/magnific-popup/magnific-popup.css') }}">
    {% endblock %}

{% block javascripts %}
    <script src="{{ asset('libs/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.image-link').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-img-mobile',
                image: {
                    verticalFit: true
                }

            });
        });
    </script>
{% endblock %}

