{% extends 'frontend.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <ul class="products-list">
        {% for product in products %}
            <hr>
            <li>
                <div id="lightgallery">
                    {% for file in product.images %}
                        <a class="gallery-image" href="#">
                            <span>{{ file.description }}</span>
                            <img src="/media/{{ file.file }}" alt="">
                        </a>
                    {% endfor %}
                </div>
                <div class="info">
                    <div class="item">
                        <span class="title">Title:</span>
                        <span>{{ product.title }}</span>
                    </div>
                    <div class="item">
                        <span class="title">Description:</span>
                        <span>{{ product.description }}</span>
                    </div>
                    <div class="item">
                        <span class="title">Price:</span>
                        <span>{{ product.price }} (grn)</span>
                    </div>
                </div>
                <a class="btn btn-light add-to-cart-btn"
                   href="{{ path('add_to_cart', {'id': product.id}) }}">Add to cart</a>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('libs/magnific-popup/magnific-popup.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="/js/gallery.js"></script>
    <script src="{{ asset('libs/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('.image-link').magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                mainClass: 'mfp-img-mobile',
                image: {
                    verticalFit: true
                }
            });
        });
    </script>
{% endblock %}

